body {
    font-family:monospace;
    box-sizing: border-box;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #EA9ADB;
    color:#F4E1E8;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
}

.centerarea {
    display: flex;
    flex: 1;
}

.sidebar-left, .sidebar-right {
    background-color: #AEE0B7;
    width: 125px;
}

main {
    background-color: #F9F3F1;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#top-wrapper{
    margin: 25px 0px 10px 0px;
    display: flex;
    align-items: center;
}

#gridPrompt {
    margin: 0px;
    padding: 7px 15px;
    background-color:#F9F3F1;
    border-radius: 8px;
    border-width: 2.8px;
    border-color: #f2c7e6da;
    font-family: monospace;
    font-size: 14px;
    font-weight: 500;
}

.container {
    background-color: #EBD8D0;
    margin: 15px 15px 20px 15px;
    padding: 10px;
    height: 800px;
    width: 800px;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #EA9ADB;
    min-height: 60px;
}

div.box {
    border-radius: 3px;
    border: 1px solid #d5a99a34;
    margin: 1px;
}

#error {
    margin: 0px;
    font-size: 18px;
    color:fuchsia;
    text-align: center;
}